<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Heroes</title>
 </head>
 <body>
    <h1>Create a Team and Heroes!</h1>

    <form action="/teams" method="post">
      <h1>Team Name: <%=@team.name%></h1>
      <h2>Team Motto: <%=@team.motto%></h2>
      <% @members.each do |member| %>
        <br>
        <h2>Hero Name: <%=member.name%></h2>
        <br>
        <p>Hero's Name: <input id="member1_name" type="text" name="team[members][][name]"></p>
        <p>Hero's Power: <input id="member1_power" type="text" name="team[members][][power]"></p>
        <p>Hero's Biography: <input id="member1_bio" type="text" name="team[members][][bio]"></p>
      <% end %>
    </form>
  </body>
</html>
